
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Red+Hat+Display:wght@400;500&family=Roboto:wght@400;500&display=swap');

/******** VARIABLES CSS *********/
:root {
  font-family: 'Poppins';

  --header-height: 3rem;

  /******* COLORS *********/
  /** change favorite color **/
  --hue-color: 195; /* Purple 250 - Green 142 - Blue 230 (https://www.w3schools.com/colors/colors_hsl.asp)*/

  /** HSL COLOR MODE **/
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /********* Font and Typography ********/
  --body-font: ;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /********* Font weight ********/
  --font-medium: 500;
  --font-semi-bold: 600;

  /********* Margins Bottom ********/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /********* z index ********/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
 
}

/********* Font size for large devices ********/
@media screen and (min-width: 968px) {
  
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
  
}


/********* Variables Dark Theme ********/
body.dark-theme {
  /** HSL COLOR MODE **/
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/********* Button Dark/Light ********/
.nav__btns {
  display: flex;
  align-items: center;
}

.nav__lang {
  padding: 0 1rem;
}

.nav__lang a {
  color: var(--title-color);
  font-weight: 100;
}

a.lang-active {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.change-theme {
  color: var(--title-color);
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: var(--mb-1);
}

.change-theme:hover {
  color: var(--first-color);
}


/********* BASE ********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0 0 var(--header-height) 0;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/********* REUSABLE CSS CLASSES ********/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/********* LAYOUT ********/
.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  max-width: 768px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  background-color: var(--body-color);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
}

/********* NAV ********/
.nav {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  max-width: 968px;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--firs-color);
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.1rem;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    background-color: var(--body-color);
    border-radius: 1.5rem 1.5rem 0 0;
    bottom: -100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    left: 0;
    padding: 2rem 1.5rem 4rem;
    position: fixed;
    transition: .3s;
    width: 100%;
  }
}

.nav__list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav__link {
  align-items: center;
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color)
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  bottom: .5rem;
  color: var(--first-color);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 1.3rem;
}

.nav__close:hover {
  color: var(--first-color-alt)
}


/********* SHOW MENU ********/
.show-menu {
  bottom: 0;
}

/* Active link*/
.active-link {
  color: var(--first-color);
}

/* Change background header*/
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}



/********* HOME ********/
.home__container {
  gap: 1rem;
}

.home__content {
  align-items: center;
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  color: var(--first-color);
  font-size: 1.25rem;
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  fill: var(--first-color);
  width: 200px;
}

.home__blob-img {
  width: 150px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/********* BUTTONS ********/
.button {
  background-color: var(--first-color);
  border-radius: .5rem;
  color: #FFF;
  display: inline-block;
  font-weight: var(--font-medium);
  padding: 1rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex {
  align-items: center;
  display: inline-flex;
}


/********* ABOUT ********/
.about__img {
  align-self: center;
  border-radius: .5rem;
  justify-self: center;
  width: 300px;
}

.about__description {
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}


/********* SKILLS ********/
.skills__container {
  row-gap: 0;
}

.skills__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
  color: var(--first-color);
  font-size: 2rem;
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.skills__arrow {
  margin-left: auto;
  transition: .4s;
}

.skills__list {
  padding-left: 2.7rem;
  row-gap: 1.5rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  border-radius: .25rem;
  height: 5px;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  background-color: var(--first-color);
  display: block;
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 60%;
}

.skills__javascript {
  width: 80%;
}

.skills__typescript {
  width: 70%;
}

.skills__react {
  width: 85%;
}

.skills__nextjs {
  width: 80%;
}

.skills__nodejs {
  width: 80%;
}

.skills__nestjs {
  width: 75%;
}

.skills__php {
  width: 75%;
}

.skills__laravel {
  width: 85%;
}

.skills__sql {
  width: 90%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/********* QUALIFICATION ********/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  cursor: pointer;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  color: var(--text-color-light);
  font-size: var(--text-color-light);
}

.qualification__rounder {
  background-color: var(--first-color);
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.qualification__line {
  display: block;
  background-color: var(--first-color);
  height: 100%;
  transform: translate(6px, -7px);
  width: 1px;
}

.qualification__content {
  display: none;
}

.qualification__active {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}


/********* TESTIMONIAL ********/
.testimonial__container {
  position: relative;
}

.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial__img {
  border-radius: 50%;
  margin-right: var(--mb-0-75);
  height: 60px;
  width: 60px;
}

.testimonial__name > a{
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial__client {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.testimonial__description {
  margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}


/********* CONTACT ********/
.contact__information {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  color: var(--first-color);
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}


/********* FOOTER ********/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  margin-top: var(--mb-3);
  text-align: center;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
color: #FFF;
}


/********* SCROLL UP ********/
.scrollup {
  background-color: var(--first-color);
  border-radius: .4rem;
  bottom: -20%;
  opacity: .8;
  padding: 0 .3rem;
  position: fixed;
  right: 1rem;
  transition: .4s;
  z-index: var(--z-tooltip);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  color: #FFF;
  font-size: 1.5rem;
}

/* Show Scroll */
.show-scroll {
  bottom: 5rem;
}


/********* SCROLL BAR ********/
::-webkit-scrollbar {
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
  width: .60rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
  width: .60rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}


/********* MEDIA QUERIES ********/

/* Small Devices */
@media screen and (max-width: 350px) {

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem .25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: .25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: .5rem;
  }

  .testimonial__data,
  .testimonial__header {
    align-items: center;
    flex-direction: column;
  }

  .testimonial__img {
    margin-bottom: var(--mb-0-25);
    margin-right: 0;    
  }

  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }
  
}

/* Medium Devices */

@media screen and (min-width: 568px) {

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    justify-self: center;
    order: 1;
  }

  .about__container,
  .skills__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }

}


@media screen and (min-width: 768px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    bottom: initial;
    top: 0;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    column-gap: 1rem;
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    column-gap: 2rem;
    display: flex;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    column-gap: 2rem;
    padding-top: 5.5rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    width: 320px;
  }

  .about__description {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: initial;
  }

  .qualification__tabs {
    justify-content: center;
  }

  .qualification__button {
    margin: 0 var(--mb-1);
  }

  .qualification__sections {
    grid-template-columns: -.5fr;
  }

  .contact__container {
    grid-template-columns: none;
    justify-content: center;
  }

  .contact__information {
    display: inline-flex;
    margin-bottom: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    column-gap: 2rem;
    flex-direction: row;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }

}



/* Large Devices */

@media screen and (min-width: 1024px) {

  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__blob {
    width: 320px;
  }

  .home__social {
    transform: translateX(-6rem);
  }
  
}



